// COLOR
$color-text-primary = #FAFAFA
$color-text-secondary = #A1A1AA
$color-text-third = #71717A
$color-text-fourth = #3F3F46
$color-background = #18181B

$color-accent = #3B82F6
$color-border = #3F3F46

$color-code-background = #27272A
$color-code-highlight = #3B82F6
$color-code-default = #D4D4D8
$color-code-marker = #71717A

$color-search-marker = #854D0E
$color-overlay = rgba(0, 0, 0, 0.6)
$color-glass = rgba(24, 24, 27, 0.85)

@import "../highlight/github-gist.styl"