// COLOR
$color-text-primary = #09090B
$color-text-secondary = #71717A
$color-text-third = #A1A1AA
$color-text-fourth = #E4E4E7
$color-background = #FFFFFF

$color-accent = #2563EB
$color-border = #E4E4E7

$color-code-background = #F4F4F5
$color-code-highlight = #2563EB
$color-code-default = #52525B
$color-code-marker = #A1A1AA

$color-search-marker = #FDE68A
$color-overlay = rgba(0, 0, 0, 0.4)
$color-glass = rgba(255, 255, 255, 0.92)

@import "../highlight/github.styl"