.post-comment
    margin-top $margin-l-1

.v[data-class="v"] .vsys
    display none!important

.vcontent
    p
        margin-top 0!important
        font-size $font-size-comment!important
        color $color-text-primary!important

