.post-content
    table
        border $color-text-primary solid $line-third 
        width 100%
        text-align left
        border-collapse collapse
        table-layout fixed

        td, th
            padding $margin-m-1

        th
            font-weight 400

        td
            font-weight 400

        table, tboby, tr, td
            background-color inherit

.highlight>table
    width auto
    min-width fit-content
    border none
    
    td
        padding 0
        border none

@media (max-width: 480px)
    .block-table
        display block
        overflow-x auto
            

            