.paginator {
  margin-top: $margin-l-1;
}
.pagination {
  margin-top: $margin-m-1;
  display: flex;
}
.pagination:before {
  content: "";
  flex-grow: 1;
}
.page-number {
  position: relative;
  margin-left: $margin-l-0;
}
.pagination .current:after {
  border-bottom: solid $line-secondary $color-accent;
  width: 100%;
}
.pagination .space {
  margin-left: $margin-l-0;
}
