.footer
    margin-top auto
    border-top 1px solid $color-border
    text-style(footer)

    .footer-text
        margin-top $margin-m-0
        margin-bottom $margin-m-0

@media (max-width: 688px)
    .footer
        margin-top $margin-l-0
        
        .footer-text
            font-size 10*$px
            margin-top $margin-s-1
            margin-bottom $margin-s-1
        


