// PIXEL
$px = 0.0625rem

$line-primary = 4px
$line-secondary = 2px
$line-third = 1px

$icon-size = 20*$px

$margin-primary = 48*$px
$margin-l-2 = 40*$px
$margin-l-1 = 32*$px
$margin-l-0 = 24*$px
$margin-m-2 = 16*$px
$margin-m-1 = 12*$px
$margin-m-0 = 8*$px
$margin-s-2 = 4*$px
$margin-s-1 = 2*$px
$margin-s-0 = 1*$px

$font-family = 'GoogleSansCode', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-semibold = 600
$font-weight-bold = 700

$font-size-header = 13*$px
$font-size-footer = 11*$px

$font-size-heading-h1 = 26*$px
$font-size-heading-h2 = 22*$px
$font-size-heading-h3 = 17*$px
$font-size-heading-h4 = 15*$px
$font-size-heading-h5 = 14*$px
$font-size-heading-h6 = 14*$px

$font-size-body = 15*$px

$font-size-code = 13*$px

$font-size-comment = 13*$px

$font-size-post-date = 13*$px
$font-size-year-title = 26*$px
$font-size-post-tag = 11*$px

$font-size-blockquote-footer = 11*$px

$line-height-header = 18*$px
$line-height-footer = 18*$px

$line-height-heading-h1 = 32*$px
$line-height-heading-h2 = 28*$px
$line-height-heading-h3 = 22*$px
$line-height-heading-h4 = 20*$px
$line-height-heading-h5 = 18*$px
$line-height-heading-h6 = 18*$px

$line-height-body = 22*$px

$line-height-code = 15*$px

$line-height-post-date = 18*$px
$line-height-year-title = 32*$px
$line-height-post-tag = 14*$px

$transition-duration = 200ms
$header-height = 48*$px


