.post-content table {
  border: $color-text-primary solid $line-third;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}
.post-content table td,
.post-content table th {
  padding: $margin-m-1;
}
.post-content table th {
  font-weight: 400;
}
.post-content table td {
  font-weight: 400;
}
.post-content table table,
.post-content table tboby,
.post-content table tr,
.post-content table td {
  background-color: inherit;
}
.highlight>table {
  width: auto;
  min-width: fit-content;
  border: none;
}
.highlight>table td {
  padding: 0;
  border: none;
}
@media (max-width: 480px) {
  .block-table {
    display: block;
    overflow-x: auto;
  }
}
